  @property --progress {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }

  @property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
  }

  @property --circle-diameter {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
  }

  .img {
    display: inline-grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    background: conic-gradient(
      black,
      #192d39,
      #0e1e2e,
      #281133,
      #14293d,
      #16031a,
      black
    );
    overflow: hidden;
    mix-blend-mode: plus-lighter;
    color: white;
  }

  .img .container {
    position: relative;
    width: 50vmin;
    aspect-ratio: 1/1.2;
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(45deg);
    animation: progress 2.8s linear infinite;
  }

  @keyframes progress {
    from {
      --progress: 0;
      --angle: 360deg;
    }
    to {
      --progress: 1;
      --angle: 0deg;
    }
  }

  .img .wall {
    position: absolute;
    inset: 0;
    --wall-gap: 10vmin;
    filter: drop-shadow(0 0 6vmin rgba(255, 255, 255, 0.19));
  }
  .img .wall:nth-of-type(1) { transform: translateZ(calc(var(--wall-gap) * -2)); --index: 1; }
  .img .wall:nth-of-type(2) { transform: translateZ(calc(var(--wall-gap) * -1)); --index: 2; }
  .img .wall:nth-of-type(3) { transform: translateZ(calc(var(--wall-gap) * 0)); --index: 3; }
  .img .wall:nth-of-type(4) { transform: translateZ(calc(var(--wall-gap) * 1)); --index: 4; }
  .img .wall:nth-of-type(5) { transform: translateZ(calc(var(--wall-gap) * 2)); --index: 5; }
  .img .wall:nth-of-type(6) { transform: translateZ(calc(var(--wall-gap) * 3)); --index: 6; }

  .img .surface {
    position: absolute;
    inset: 0;
    --angle-offset: calc(var(--index) * (360deg / 10));
    --circle-diameter: calc(22vmin * cos(calc(var(--angle) + var(--angle-offset))));
    -webkit-mask: radial-gradient(circle at 50% 20%, transparent var(--circle-diameter), black var(--circle-diameter));
    mask: radial-gradient(circle at 50% 20%, transparent var(--circle-diameter), black var(--circle-diameter));
    background: radial-gradient(circle at 50% 20%, #d455ff calc(var(--circle-diameter) + 0.6vmin), #d455ff calc(var(--circle-diameter) + 0.6vmin), transparent var(--circle-diameter)),
      linear-gradient(black, black),
      linear-gradient(45deg, #6eccee, #e3a4d0, #ffdc99, #6eccee, #d455ff, #e3a4d0, #ffdc99);
    background-repeat: no-repeat;
    background-size: 100% 100%, calc(100% - 0.6vmin*2) calc(100% - 0.6vmin*2), 100%, 100%;
    background-position: 0 0, 0.6vmin 0.6vmin, 0 0;
  }
  .img .surface:nth-child(2) { transform: translate(4vmin, 5.7vmin); }

  .img .left {
    position: absolute;
    transform: skewY(55deg) translateY(2.9vmin);
    inset: 0;
    width: 4.5vmin;
    background: linear-gradient(black, black) no-repeat,
      linear-gradient(to top, #6eccee, #e3a4d0, #ffdc99, #6eccee) no-repeat;
    background-size: calc(100% - 0.6vmin*2) calc(100% - 0.6vmin*2), 100%, 100%;
    background-position: 0.6vmin 0.6vmin, 0 0;
  }

  .img .top {
    position: absolute;
    transform: skewX(36deg) translateX(2vmin);
    inset: 0;
    height: 6vmin;
    background: linear-gradient(black, black) no-repeat,
      linear-gradient(to right, #6eccee, #e3a4d0, #ffdc99, #6eccee) no-repeat;
    background-size: calc(100% - 0.6vmin*2) calc(100% - 0.6vmin*2), 100%, 100%;
    background-position: 0.6vmin 0.6vmin, 0 0;
    --angle-offset: calc(var(--index) * (360deg / 10));
    --circle-diameter: calc(22vmin * cos(calc(var(--angle) + var(--angle-offset))));
    -webkit-mask: radial-gradient(calc(var(--circle-diameter) * 0.86) at 50% calc(60% / cos(calc(var(--angle) + var(--angle-offset)))), transparent var(--circle-diameter), black var(--circle-diameter));
    mask: radial-gradient(calc(var(--circle-diameter) * 0.86) at 50% calc(60% / cos(calc(var(--angle) + var(--angle-offset)))), transparent var(--circle-diameter), black var(--circle-diameter));
  }

  .img .ball-container {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    transform: translateZ(calc(-40vmin + 110vmin * var(--progress)));
    filter: drop-shadow(0 0 6vmin rgba(255, 255, 255, 0.19));
  }

  .img .ball {
    width: 42vmin;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(21.5vmin 21.5vmin at center, black 20vmin, transparent 20vmin),
      conic-gradient(#6eccee, #e3a4d0, #ffdc99, #d455ff, #e3a4d0, #6eccee, #ffdc99, #6eccee);
    box-shadow: 0 0 10vmin rgba(255, 255, 255, 0.08);
    transform: rotateX(45deg) rotateY(45deg) translateY(-20vmin);
  }