.logo{
    height: 28px;
}
header{
    box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(102, 189, 141, 0.18);
    backdrop-filter: blur(16px) saturate(180%);
    background: rgba(56, 92, 70, 0.25);
    justify-content: space-between;
    width: calc(100% - 32px);
    border-radius: 50px;
    align-items: center;
    padding: 12px 36px;
    position: fixed;
    display: flex;
    z-index: 10;
    left: 16px;
    top: 16px;
    
    .time{
        align-items: center;
        flex-direction: row;
        display: flex;
        gap: 8px;
        *{
            line-height: 0;
        }
    }
    time{
        color: var(--primary);
        font-size: 18pt;
    }
    .date{
        flex-direction: column;
        display: flex;
        >*{
            font-size: 6pt;
            margin-bottom: 8pt;
            &:nth-child(2){
                margin-bottom: 0;
            }
        }
        .meridian{
            text-transform: uppercase;
        }
    }
}
nav {
    box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(102, 189, 141, 0.18);
    backdrop-filter: blur(16px) saturate(180%);
    background: rgba(56, 92, 70, 0.25);
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 8px;
    align-self: center;
    width: fit-content;
    padding: 8px 8px;
    position: fixed;
    display: flex;
    bottom: 16px;
    z-index: 10;
    gap: 8px;
    a {
        color: var(--primary, #E0E0E0);
        text-decoration: none;
        border-radius: 4px;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 16px;
        &.cta{
            border: 2px solid var(--accent);
            justify-content: center;
            align-items: center;
            padding: 10px 12px;
            font-weight: 600;
            display: flex;
        }
        icon{
            color: var(--accent);
            font-size: 22px;
        }
        
        &.active, &:hover {
            background-color: var(--active);
            color: var(--foreground);
            
            icon{
                color: var(--foreground);
            }
        }
    }
}
main{
    scroll-snap-type: y mandatory;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100dvh;
    display: flex;
    width: 100%;
    >section{
        scroll-snap-align: start;
        min-height: 100dvh;
        padding: 72px 16px;
        width: 100%;
    }
    #home{
        padding: 0 16px;
        .hero{
            justify-content: center;
            height: 100dvh;
            display: flex;
            width: 100%;
            .text{
                justify-content: center;
                flex-direction: column;
                align-items: center;
                align-self: center;
                padding: 0 16px;
                height: 100dvh;
                display: flex;
                width: 80%;
                *{
                    text-align: center;
                    width: 100%;
                }
                h1{
                    font-weight: 700;
                    line-height: 1;
                    >span{
                        letter-spacing: -0.5px;
                        color: var(--active);
                        line-height: 1;
                        font-size: 42pt;
                    }
                }
                p{
                    color: var(--primary);
                    margin-top: 16px;
                    font-size: 14pt;
                    width: 400px;
                }
                .cta{
                    background-color: var(--accent);
                    color: var(--foreground);
                    justify-content: center;
                    border-radius: 4px;
                    margin-top: 24px;
                    cursor: pointer;
                    display: flex;
                    gap: 8px;
                    a{
                        border: 2px solid var(--active);
                        justify-content: center;
                        flex-direction: row;
                        align-items: center;
                        width: fit-content;
                        border-radius: 8px;
                        padding: 2px 16px;
                        font-weight: 600;
                        font-size: 12pt;
                        display: flex;
                        gap: 8px;
                        icon{
                            height: fit-content;
                            width: fit-content;
                            font-size: 18pt;
                        }
                        &:hover{
                            background-color: var(--active);
                            color: var(--foreground);
                            icon{
                                color: var(--foreground);
                            }
                        }
                    }
                }
            }
        }
    }
    #about{
        flex-direction: column;
        display: flex;
        gap: 72px;
        h2{
            color: var(--active);
            align-self: center;
            font-weight: 500;
            font-size: 32pt;
        }
        .intro{
            justify-content: center;
            flex-direction: row;
            align-items: center;
            height: fit-content;
            margin-top: 4px;
            padding: 0 32px;
            display: flex;
            width: 100%;
            gap: 32px;
            .text{
                color: var(--primary);
                max-width: 720px;
                font-size: 14pt;
                line-height: 1.6;
                >h3{
                    font-weight: 500;
                    font-size: 24pt;
                    line-height: 1;
                }
                b{
                    font-size: 16pt;
                }
                p{
                    color: var(--primary);
                    text-align: justify;
                    max-width: 720px;
                    font-size: 12pt;
                }
            }
            .img{
                box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
                -webkit-backdrop-filter: blur(16px) saturate(180%);
                border: 1px solid rgba(102, 189, 141, 0.18);
                backdrop-filter: blur(16px) saturate(180%);
                background: rgba(56, 92, 70, 0.25);
                border-radius: 8px;
                max-width: 720px;
                height: 500px;
                padding: 8px;
                width: 50%;
            }

        }
        .xp{
            flex-direction: column;
            align-items: center;
            height: fit-content;
            margin-top: 4px;
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            gap: 16px;
            >h3{
                font-weight: 500;
                font-size: 24pt;
                line-height: 1;
            }
            p{
                color: var(--primary);
                text-align: center;
                max-width: 720px;
                font-size: 14pt;
            }
            ul{
                width: calc(100% - 32px);
                justify-content: center;
                margin: 16px 0 48px 0;
                list-style: none;
                flex-wrap: wrap;
                display: flex;
                gap: 16px;
                
                .item{
                    box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
                    -webkit-backdrop-filter: blur(16px) saturate(180%);
                    border: 1px solid rgba(102, 189, 141, 0.18);
                    backdrop-filter: blur(16px) saturate(180%);
                    background: rgba(56, 92, 70, 0.25);
                    width: calc(32% - 32px);
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    border-radius: 8px;
                    min-width: 280px;
                    padding: 16px;
                    display: flex;

                    h4{
                        flex-direction: row;
                        align-items: center;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 1;
                        display: flex;
                        width: 100%;
                        gap: 16px;
                        icon{
                            color: var(--active);
                            line-height: 1;
                            font-size: 28px;
                        }
                    }
                    
                    p{
                        color: var(--primary);
                        text-align: start;
                        margin-top: 8px;
                        font-size: 12pt;
                    }
                }
            }
            .values{
                .item{

                    h4{
                        flex-direction: column;
                        align-items: center;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 0.5;
                        display: flex;
                        width: 100%;
                        gap: 16px;
                        *{
                            margin: 0;
                        }
                        p{
                            font-weight: 400;
                            font-size: 12px;
                            margin-top: 0;
                        }
                        icon{
                            color: var(--active);
                            line-height: 1;
                            font-size: 28pt;
                        }
                    }
                    
                    p{
                        color: var(--primary);
                        text-align: center;
                        margin-top: 8px;
                        font-size: 12pt;
                    }
                }
            }
        }
    }
    
    #portfolio{
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-top: 4px;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        gap: 16px;
        >h3{
            font-weight: 500;
            font-size: 24pt;
            line-height: 1;
        }
        p{
            color: var(--primary);
            text-align: center;
            max-width: 720px;
            font-size: 14pt;
        }
        .error{
            color: var(--border);
            margin-top: 16px;
            font-size: 14pt;
        }
        ul{
            width: calc(100% - 32px);
            justify-content: center;
            list-style: none;
            flex-wrap: wrap;
            display: flex;
            margin: 0;

            margin-top: 16px;
            gap: 16px;
            
            li{
                background-color: var(--border);
                flex-direction: column;
                align-items: center;
                text-align: center;
                border-radius: 50px;
                width: fit-content;
                padding: 8px 16px;
                display: flex;
                &:hover, &.active{
                    background-color: var(--active);
                    color: var(--foreground);
                }
            }
        }
        .cta{
            background-color: var(--accent);
            color: var(--foreground);
            justify-content: center;
            border-radius: 4px;
            margin-top: 8px;
            cursor: pointer;
            display: flex;
            gap: 8px;
            a{
                border: 2px solid var(--active);
                justify-content: center;
                flex-direction: row;
                align-items: center;
                width: fit-content;
                border-radius: 8px;
                padding: 2px 16px;
                font-weight: 600;
                font-size: 12pt;
                display: flex;
                gap: 8px;
                icon{
                    height: fit-content;
                    width: fit-content;
                    font-size: 18pt;
                }
                &:hover{
                    background-color: var(--active);
                    color: var(--foreground);
                    icon{
                        color: var(--foreground);
                    }
                }
            }
        }
    }
    #testimonial{

    }
    #contact{
        padding: 72px 48px;
        .cform{
            justify-content: center;
            align-items: center;
            height: fit-content;
            display: flex;
            width: 100%;
            .details{
                flex-direction: column;
                height: fit-content;
                display: flex;
                width: 100%;
                gap: 16px;
                a{
                    align-items: center;
                    display: flex;
                    gap: 8px;
                    icon{
                        background-color: var(--border);
                        color: var(--active);
                        border-radius: 50px;
                        padding: 10px 16px;
                        font-size: 18px;
                    }
                }
                .socials{
                    justify-content: start;
                    display: flex;
                    gap: 16px;
                    a{
                        background-color: var(--border);
                        color: var(--active);
                        border-radius: 50px;
                        padding: 10px 16px;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        &:hover{
                            background-color: var(--active);
                            color: var(--foreground);
                        }
                    }
                }
            }
            form{
                flex-direction: column;
                height: fit-content;
                display: flex;
                width: 100%;
                gap: 16px;
                h4{
                    font-weight: 500;
                    font-size: 20pt;
                }
                button{
                    border: 2px solid var(--foreground);
                    background-color: var(--active);
                    color: var(--foreground);
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    font-weight: 600;
                    font-size: 14pt;
                    cursor: pointer;
                    padding: 8px 0;
                    display: flex;
                    width: 50%;
                    gap: 8px;
                    icon{
                        color: var(--foreground);
                        margin-right: 8px;
                        font-size: 18pt;
                    }
                    &:hover{
                        background-color: var(--accent);
                        color: var(--foreground);
                    }
                }
                .div{
                    display: flex;
                    width: 100%;
                    gap: 10px;
                    .info{
                        flex-direction: column;
                        display: flex;
                        width: 50%;
                        gap: 10px;
                        label{
                            background-color: var(--background);
                            margin-bottom: -24px;
                            height: fit-content;
                            width: fit-content;
                            margin-left: 16px;
                            padding: 0 8px;
                            z-index: 2;
                        }
                        input{
                            background-color: var(--background);
                            border: 2px solid var(--border);
                            color: var(--primary);
                            border-radius: 8px;
                            padding: 8px 16px;
                            max-width: 100dvw;
                            line-height: 1.6;
                            text-align: left;
                            font-size: 12pt;
                            outline: none;
                            width: 100%;
                            margin: 0;
                            &:focus{
                                border: 2px solid var(--active);
                            }
                        }
                    }
                }
                textarea{
                    background-color: var(--background);
                    border: 2px solid var(--border);
                    color: var(--primary);
                    border-radius: 8px;
                    padding: 8px 16px;
                    max-width: 100dvw;
                    line-height: 1.6;
                    text-align: left;
                    font-size: 12pt;
                    outline: none;
                    resize: none;
                    width: 50%;
                    margin: 0;
                    min-height: 120px;
                    resize: vertical;
                    &:focus{
                        border: 2px solid var(--active);
                    }
                }
            }
        }
    }
}
@media (max-width: 430px) {
    nav{
        width: calc(100% - 32px);
        bottom: 16px;
        a{
            padding: 2px 8px;
            font-size: 16px;
            icon{
                font-size: 22px;
            }
            &.cta{
                padding: 8px 8px;
                font-size: 14px;
                icon{
                    font-size: 14px;
                }
            }
        }
    }
    main{
        .hero{
            .text{
                align-self: center;
                padding: 0 16px;
                height: 100dvh;
                width: calc(100% - 32px);
                h1{
                    font-size: 28pt;
                    line-height: 1;
                    >span{
                        letter-spacing: -0.5px;
                        color: var(--active);
                        font-size: 28pt;
                        line-height: 1;
                    }
                }
                *{
                    font-size: 10pt;
                }
                .cta{
                    flex-direction: column;
                    a{
                        height: 48px;
                        width: 100%;
                        icon{
                            height: fit-content;
                            width: fit-content;
                            font-size: 18pt;
                        }
                        &:hover{
                            background-color: var(--active);
                            color: var(--foreground);
                            icon{
                                color: var(--foreground);
                            }
                        }
                    }
                }
            }
        }
    }
}