.logo{
    height: 36px;
}
header{
    box-shadow: 0 0 2px 1px rgba(102, 189, 141, 0.25) inset;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(102, 189, 141, 0.25);
    backdrop-filter: blur(16px) saturate(180%);
    background: rgba(56, 92, 70, 0.18);
    justify-content: space-between;
    width: calc(100% - 32px);
    justify-self: center;
    align-items: center;
    border-radius: 50pt;
    padding: 8px 36px;
    max-width: 450px;
    position: fixed;
    display: flex;
    z-index: 10;
    right: 50%;
    left: 50%;
    top: 16px;

    .time{
        align-items: center;
        flex-direction: row;
        display: flex;
        gap: 8px;
        *{
            line-height: 0;
        }
    }
    time{
        color: var(--primary);
        font-size: 18pt;
    }
    .date{
        flex-direction: column;
        display: flex;
        >*{
            font-size: 6pt;
            margin-bottom: 8pt;
            &:nth-child(2){
                margin-bottom: 0;
            }
        }
        .meridian{
            text-transform: uppercase;
        }
    }
}
nav {
    box-shadow: 0 0 2px 1px rgba(102, 189, 141, 0.25) inset;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(102, 189, 141, 0.25);
    backdrop-filter: blur(16px) saturate(180%);
    background: rgba(56, 92, 70, 0.18);
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 8px;
    align-self: center;
    width: fit-content;
    padding: 8px 8px;
    position: fixed;
    display: flex;
    bottom: 16px;
    z-index: 10;
    gap: 8px;
    a {
        border: 1px solid rgba(192, 176, 88, 0);
        color: var(--primary, #E0E0E0);
        text-decoration: none;
        border-radius: 4px;
        position: relative;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 16px;
        &.cta{
            border: 2px solid var(--active);
            background: var(--active);
            color: var(--background);
            justify-content: center;
            align-items: center;
            padding: 8px 12px;
            font-weight: 600;
            display: flex;
        }
        icon{
            color: var(--primary);
            font-size: 22px;
        }
        
        &.active, &:hover {
            box-shadow: 0 0 2px 1px rgba(194, 180, 100, 0.25) inset;
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            border: 1px solid rgba(192, 176, 88, 0.25);
            backdrop-filter: blur(16px) saturate(180%);
            background: rgba(48, 45, 21, 0.18);
            color: var(--active);
            &::after{
                box-shadow: 0 -3.5px 8px 1px rgba(194, 180, 100, 1);
                background-color: var(--active);
                position: absolute;
                content: '';
                height: 2px;
                width: 60%;
                bottom: 0;
                left: 20%;
            }
            &.cta{
                box-shadow: 0 -2px 8px 1px rgba(194, 180, 100, 1);
                border: 2px solid rgba(192, 176, 88, 0.25);
                -webkit-backdrop-filter: none;
                background: var(--active);
                color: var(--background);
                backdrop-filter: none;
                &::after{
                    box-shadow: 0 -2px 8px 1px rgba(194, 180, 100, 0);
                    background-color: var(--active);
                    height: 0;
                    width: 0;
                }
            }
            icon{
                color: var(--active);
            }
        }
    }
}
.socials{
    justify-content: start;
    display: flex;
    width: 100%;
    gap: 16px;
    a{
        box-shadow: 0 0 0 2px var(--active) inset;
        justify-content: center;
        color: var(--active);
        border-radius: 50px;
        align-items: center;
        padding: 10px 16px;
        font-size: 18px;
        display: flex;
        height: 40px;
        width: 40px;
        &:hover{
            background-color: var(--active);
            color: var(--foreground);
        }
    }
}
main{
    scroll-snap-type: y mandatory;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100dvh;
    display: flex;
    width: 100%;
    .chatbox{
        box-shadow: 0 0 2px 1px rgba(102, 189, 141, 0.25) inset;
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        border: 1px solid rgba(102, 189, 141, 0.25);
        backdrop-filter: blur(16px) saturate(180%);
        background: rgba(56, 92, 70, 0.18);
        border-radius: 8px;
        position: fixed;
        display: flex;
        bottom: 24px;
        z-index: 20;
        right: 32px;
        gap: 8px;
        &.open{
            flex-direction: column;
            border-radius: 16px;
            color: #0d2822;
            padding: 16px;
            height: 480px;
            width: 320px;
            border-bottom-right-radius: 0;
            .head{
                b{
                    text-transform: none;
                    display: block;
                }
                icon{
                    display: block;
                }
            }
            .messages{
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto;
                display: flex;
                width: 100%;
                gap: 8px;
                margin-bottom: 8px;
                .message{
                    border: 1px solid var(--border);
                    border-radius: 12px;
                    padding: 8px 12px;
                    line-height: 1.4;
                    font-size: 12pt;
                    max-width: 80%;
                    *{
                        font-size: 10pt;
                    }
                    icon{
                        font-size: 16pt;
                    }
                    &.user{
                        background-color: var(--background);
                        flex-direction: column-reverse;
                        border-bottom-right-radius: 0;
                        color: var(--foreground);
                        align-self: flex-end;
                        display: flex;
                        *{
                            align-self: flex-end;
                            text-align: right;
                        }
                    }
                    &.bot{
                        background-color: var(--foreground);
                        border-bottom-left-radius: 0;
                        align-self: flex-start;
                        color: var(--primary);
                    }
                }
            }
            form{
                background-color: var(--foreground);
                border-radius: 8px;
                padding: 0 0 0 12px;
                display: flex;
                width: 100%;
                gap: 8px;
                input{
                    background-color: var(--foreground);
                    border: none;
                    color: var(--primary);
                    flex-grow: 1;
                    line-height: 1.4;
                    text-align: left;
                    font-size: 12pt;
                    outline: none;
                    width: 100%;
                    margin: 0;
                    &::placeholder{
                        color: var(--border);
                    }
                }
                button{
                    background-color: #00000000;
                    border: none;
                    color: var(--foreground);
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    font-weight: 600;
                    font-size: 14pt;
                    cursor: pointer;
                    padding: 4px 0 4px 12px;
                    display: flex;
                    gap: 8px;
                    icon{
                        color: var(--active);
                        margin-right: 8px;
                        font-size: 18pt;
                    }
                    &:hover{
                        background-color: var(--active);
                        color: var(--background);
                        icon{
                            color: var(--background);
                            margin-right: 8px;
                            font-size: 18pt;
                        }
                    }
                }
            }
        }
        >.messages, >form{
                display: none
        }
        .head{
            justify-content: space-between;
            height: fit-content;
            align-items: center;
            display: flex;
            >icon{
                display: none
            }
            span{
                height: fit-content;
                align-items: center;
                display: flex;
                gap: 8px;
            }
            .close{
                border-radius: 4px;
                padding: 4px 8px;
                font-size: 22px;
                cursor: pointer;
                color: var(--primary);
                &:hover{
                    background-color: var(--active);
                    color: var(--foreground);
                }
            }
            
            icon{
                color: var(--active);
                border-radius: 50px;
                padding: 2px 8px;
                font-size: 28px;
            }
            b{
                font-family: 'Poppins';
                font-size: 16px;
                display: none;
            }
        }
    }
    >section{
        scroll-snap-align: start;
        min-height: 100dvh;
        padding: 72px 16px;
        width: 100%;
    }
    #home{
        padding: 0;
        .hero{
            justify-content: center;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: relative;
            overflow: hidden;
            height: 100dvh;
            display: flex;
            display: flex;
            width: 100%;
            .grid{
                background-image: url(res/hbg.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                flex-direction: column;
                position: absolute;
                height: 100dvh;
                display: flex;
                opacity: 0.4;
                z-index: -1;
                width: 100%;
                left: 0;
                top: 0;
                &::after{
                    /*set gradient at 90 degrees from bottom to top*/
                    background-image: linear-gradient(0deg, var(--background), #00000000);
                    position: absolute;
                    height: 50dvh;
                    content: '';
                    width: 100%;
                    z-index: 10;
                    bottom: 0;
                    left: 0;
                }
                &::before{
                    box-shadow: 0 0 200px var(--background) inset;
                    position: absolute;
                    height: 100dvh;
                    content: '';
                    width: 100%;
                    z-index: 0;
                    left: 0;
                    top: 0;
                }
            }
            .sphere{
                background: radial-gradient(circle, var(--active) 0%, #00000000 70%);
                animation: pulse 2s ease-in-out infinite;
                align-self: center;
                border-radius: 50%;
                position: absolute;
                aspect-ratio: 1/1;
                bottom: -100%;
                z-index: 0;
                width: 80%;
            }
            .world{
                background-image: url(res/world.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                position: absolute;
                display: flex;
                height: 50dvh;
                width: 100%;
                bottom: -10dvh;
                z-index: 10;
            }
            .text{
                justify-content: center;
                flex-direction: column;
                align-items: center;
                align-self: center;
                padding: 0 16px;
                height: 100dvh;
                display: flex;
                width: 80%;
                *{
                    text-align: center;
                    width: 100%;
                }
                h1{
                    font-weight: 500;
                    font-size: 42pt;
                    line-height: 1;
                    >span{
                        letter-spacing: -0.5px;
                        color: var(--active);
                        font-size: 42pt;
                        line-height: 1;
                    }
                }
                p{
                    margin: 16px 16px 0 16px;
                    color: var(--primary);
                    max-width: 400px;
                    font-size: 14pt;
                    width: 100%;
                }
                .cta{
                    justify-content: center;
                    border-radius: 4px;
                    margin-top: 24px;
                    display: flex;
                    gap: 8px;
                    a{
                        border: 2px solid var(--active);
                        justify-content: center;
                        color: var(--active);
                        flex-direction: row;
                        align-items: center;
                        width: fit-content;
                        border-radius: 8px;
                        padding: 4px 16px;
                        font-weight: 600;
                        font-size: 12pt;
                        cursor: pointer;
                        display: flex;
                        gap: 8px;
                        icon{
                            color: var(--active);
                            height: fit-content;
                            width: fit-content;
                            font-size: 18pt;
                        }
                        &:hover{
                            background-color: var(--active);
                            color: var(--foreground);
                            icon{
                                color: var(--foreground);
                            }
                        }
                    }
                }
            }
        }
    }
    #about{
        flex-direction: column;
        display: flex;
        gap: 72px;
        h2{
            color: var(--active);
            align-self: center;
            font-weight: 500;
            font-size: 32pt;
        }
        .intro{
            justify-content: center;
            flex-direction: row;
            align-items: center;
            height: fit-content;
            margin-top: 4px;
            padding: 0 32px;
            display: flex;
            width: 100%;
            gap: 32px;
            .text{
                color: var(--primary);
                line-height: 1.6;
                max-width: 720px;
                font-size: 14pt;
                >h3{
                    font-weight: 500;
                    font-size: 24pt;
                    line-height: 1;
                }
                b{
                    font-size: 16pt;
                }
                p{
                    color: var(--primary);
                    text-align: justify;
                    max-width: 720px;
                    font-size: 12pt;
                }
                >span{
                    display: flex;
                    gap: 32px;
                    >span{
                        flex-direction: column;
                        display: flex;
                    }
                    icon{
                        color: var(--active);
                        font-size: 36px;
                    }
                }
            }
            .img{
                box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
                -webkit-backdrop-filter: blur(16px) saturate(180%);
                border: 1px solid rgba(102, 189, 141, 0.18);
                backdrop-filter: blur(16px) saturate(180%);
                background: rgba(56, 92, 70, 0.25);
                color: #0f111a;
                border-radius: 8px;
                aspect-ratio: 16/9;
                position: relative;
                padding: 8px;
                width: 100%;

                mix-blend-mode: plus-lighter;
                display: inline-grid;
                place-items: center;
                overflow: hidden;
                height: 100vh;
                width: 100vw;

                .container {
                    transform: rotateX(-45deg) rotateY(45deg);
                    animation: progress 2.8s linear infinite;
                    transform-style: preserve-3d;
                    aspect-ratio: 1/1.2;
                    position: relative;
                    width: 50%;

                    .wall {
                        &:nth-of-type(1) { transform: translateZ(calc(var(--wall-gap) * -2)); --index: 1; }
                        &:nth-of-type(2) { transform: translateZ(calc(var(--wall-gap) * -1)); --index: 2; }
                        &:nth-of-type(3) { transform: translateZ(calc(var(--wall-gap) * 0)); --index: 3; }
                        &:nth-of-type(4) { transform: translateZ(calc(var(--wall-gap) * 1)); --index: 4; }
                        &:nth-of-type(5) { transform: translateZ(calc(var(--wall-gap) * 2)); --index: 5; }
                        &:nth-of-type(6) { transform: translateZ(calc(var(--wall-gap) * 3)); --index: 6; }
                        filter: drop-shadow(0 0 6vmin rgba(255, 255, 255, 0.19));
                        --wall-gap: 10vmin;
                        position: absolute;
                        inset: 0;
                        
                        .surface {
                            background: radial-gradient(circle at 50% 20%, var(--active) calc(var(--circle-diameter) + 0.6vmin), var(--active) calc(var(--circle-diameter) + 0.6vmin), transparent var(--circle-diameter)),
                            linear-gradient(black, black),
                            linear-gradient(45deg, #6eccee, #e3a4d0, #ffdc99, #6eccee, #d455ff, #e3a4d0, #ffdc99);
                            -webkit-mask: radial-gradient(circle at 50% 20%, transparent var(--circle-diameter), black var(--circle-diameter));
                            mask: radial-gradient(circle at 50% 20%, transparent var(--circle-diameter), black var(--circle-diameter));
                            background-size: 100% 100%, calc(100% - 0.6vmin*2) calc(100% - 0.6vmin*2), 100%, 100%;
                            --circle-diameter: calc(22vmin * cos(calc(var(--angle) + var(--angle-offset))));
                            &:nth-child(2) { transform: translate(4vmin, 5.7vmin); }
                            --angle-offset: calc(var(--index) * (360deg / 10));
                            background-position: 0 0, 0.6vmin 0.6vmin, 0 0;
                            background-repeat: no-repeat;
                            position: absolute;
                            inset: 0;
                        }
                        .left {
                            background-size: calc(100% - 0.6vmin*2) calc(100% - 0.6vmin*2), 100%, 100%;
                            background: linear-gradient(black, black) no-repeat,
                            linear-gradient(to top, #6eccee, #e3a4d0, #ffdc99, #6eccee) no-repeat;
                            transform: skewY(55deg) translateY(2.9vmin);
                            background-position: 0.6vmin 0.6vmin, 0 0;
                            position: absolute;
                            width: 4.5vmin;
                            inset: 0;
                        }
                        .top {
                            -webkit-mask: radial-gradient(calc(var(--circle-diameter) * 0.86) at 50% calc(60% / cos(calc(var(--angle) + var(--angle-offset)))), transparent var(--circle-diameter), black var(--circle-diameter));
                            mask: radial-gradient(calc(var(--circle-diameter) * 0.86) at 50% calc(60% / cos(calc(var(--angle) + var(--angle-offset)))), transparent var(--circle-diameter), black var(--circle-diameter));

                            background: linear-gradient(black, black) no-repeat,
                            linear-gradient(to right, #6eccee, #e3a4d0, #ffdc99, #6eccee) no-repeat;
                            --circle-diameter: calc(22vmin * cos(calc(var(--angle) + var(--angle-offset))));
                            background-size: calc(100% - 0.6vmin*2) calc(100% - 0.6vmin*2), 100%, 100%;
                            --angle-offset: calc(var(--index) * (360deg / 10));
                            background-position: 0.6vmin 0.6vmin, 0 0;
                            transform: skewX(36deg) translateX(2vmin);
                            position: absolute;
                            height: 6vmin;
                            inset: 0;
                        }
                    }
                    .ball-container {
                        transform: translateZ(calc(-40vmin + 110vmin * var(--progress)));
                        filter: drop-shadow(0 0 6vmin rgba(255, 255, 255, 0.19));
                        place-items: center;
                        position: absolute;
                        display: grid;
                        inset: 0;
                    }

                    .ball {
                        background: radial-gradient(21.5vmin 21.5vmin at center, black 20vmin, transparent 20vmin),
                        conic-gradient(#6eccee, #e3a4d0, #ffdc99, #d455ff, #e3a4d0, #6eccee, #ffdc99, #6eccee);
                        transform: rotateX(45deg) rotateY(45deg) translateY(-20vmin);
                        box-shadow: 0 0 10vmin rgba(255, 255, 255, 0.08);
                        border-radius: 50%;
                        aspect-ratio: 1;
                        width: 42vmin;
                    }
                    
                }
            }

        }
        .xp{
            flex-direction: column;
            align-items: center;
            height: fit-content;
            margin-top: 4px;
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            gap: 16px;
            >h3{
                font-weight: 500;
                font-size: 24pt;
                line-height: 1;
            }
            p{
                color: var(--primary);
                text-align: center;
                max-width: 720px;
                font-size: 14pt;
            }
            ul{
                width: calc(100% - 32px);
                justify-content: center;
                margin: 16px 0 48px 0;
                list-style: none;
                flex-wrap: wrap;
                display: flex;
                gap: 16px;
                
                .item{
                    box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
                    -webkit-backdrop-filter: blur(16px) saturate(180%);
                    border: 1px solid rgba(102, 189, 141, 0.18);
                    backdrop-filter: blur(16px) saturate(180%);
                    background: rgba(56, 92, 70, 0.25);
                    width: calc(32% - 32px);
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    border-radius: 8px;
                    min-width: 280px;
                    padding: 16px;
                    display: flex;

                    h4{
                        flex-direction: row;
                        align-items: center;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 1;
                        display: flex;
                        width: 100%;
                        gap: 16px;
                        icon{
                            color: var(--active);
                            line-height: 1;
                            font-size: 28px;
                        }
                    }
                    
                    p{
                        color: var(--primary);
                        text-align: start;
                        margin-top: 8px;
                        font-size: 12pt;
                    }
                }
            }
            .values{
                .item{

                    h4{
                        flex-direction: column;
                        align-items: center;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 0.5;
                        display: flex;
                        width: 100%;
                        gap: 16px;
                        *{
                            margin: 0;
                        }
                        p{
                            font-weight: 400;
                            font-size: 12px;
                            margin-top: 0;
                        }
                        icon{
                            color: var(--active);
                            line-height: 1;
                            font-size: 28pt;
                        }
                    }
                    
                    p{
                        color: var(--primary);
                        text-align: center;
                        margin-top: 8px;
                        font-size: 12pt;
                    }
                }
            }
        }
    }    
    #portfolio{
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-top: 4px;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        gap: 16px;
        >h3{
            font-weight: 500;
            font-size: 24pt;
            line-height: 1;
        }
        p{
            color: var(--primary);
            text-align: center;
            max-width: 720px;
            font-size: 14pt;
        }
        .error{
            color: var(--border);
            margin-top: 16px;
            font-size: 14pt;
        }
        ul{
            width: calc(100% - 32px);
            justify-content: center;
            list-style: none;
            flex-wrap: wrap;
            display: flex;
            margin: 0;

            margin-top: 16px;
            gap: 16px;
            
            li{
                background-color: var(--border);
                flex-direction: column;
                align-items: center;
                text-align: center;
                border-radius: 50px;
                width: fit-content;
                padding: 8px 16px;
                display: flex;
                &:hover, &.active{
                    background-color: var(--active);
                    color: var(--foreground);
                }
            }
        }
        .cta{
            background-color: var(--accent);
            color: var(--foreground);
            justify-content: center;
            border-radius: 4px;
            margin-top: 8px;
            cursor: pointer;
            display: flex;
            gap: 8px;
            a{
                border: 2px solid var(--active);
                justify-content: center;
                flex-direction: row;
                align-items: center;
                width: fit-content;
                border-radius: 8px;
                padding: 2px 16px;
                font-weight: 600;
                font-size: 12pt;
                display: flex;
                gap: 8px;
                icon{
                    height: fit-content;
                    width: fit-content;
                    font-size: 18pt;
                }
                &:hover{
                    background-color: var(--active);
                    color: var(--foreground);
                    icon{
                        color: var(--foreground);
                    }
                }
            }
        }
    }
    #testimonial{

    }
    #contact{
        justify-content: center;
        flex-direction: column;
        padding: 72px 48px;
        display: flex;
        h3,p{
            text-align: center;
            font-weight: 500;
        }

        .cform{
            justify-content: center;
            height: fit-content;
            margin-top: 48px;
            display: flex;
            width: 100%;
            .details{
                flex-direction: column;
                height: fit-content;
                display: flex;
                width: 100%;
                gap: 16px;
                h4{
                    font-weight: 500;
                    font-size: 20pt;
                }
                a{
                    align-items: center;
                    display: flex;
                    gap: 8px;
                    icon{
                        background-color: var(--border);
                        color: var(--active);
                        border-radius: 50px;
                        padding: 10px 16px;
                        font-size: 18px;
                    }
                }
                .socials{
                    justify-content: start;
                    display: flex;
                    gap: 16px;
                    a{
                        justify-content: center;
                        color: var(--active);
                        border-radius: 50px;
                        align-items: center;
                        padding: 10px 16px;
                        font-size: 18px;
                        display: flex;
                        height: 40px;
                        width: 40px;
                        &:hover{
                            background-color: var(--active);
                            color: var(--foreground);
                        }
                    }
                }
            }
            form{
                flex-direction: column;
                height: fit-content;
                display: flex;
                width: 100%;
                gap: 16px;
                h4{
                    font-weight: 500;
                    font-size: 20pt;
                }
                button{
                    background-color: var(--active);
                    border: 2px solid var(--border);
                    color: var(--foreground);
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    font-weight: 600;
                    font-size: 14pt;
                    cursor: pointer;
                    padding: 8px 0;
                    display: flex;
                    width: 100%;
                    gap: 8px;
                    icon{
                        color: var(--foreground);
                        margin-right: 8px;
                        font-size: 18pt;
                    }
                    &:hover{
                        border: 2px solid var(--active);
                        background-color: transparent;
                        color: var(--active);
                        icon{
                            color: var(--active);
                            margin-right: 8px;
                            font-size: 18pt;
                        }
                    }
                }
                .div{
                    display: flex;
                    width: 100%;
                    gap: 10px;
                    .info{
                        flex-direction: column;
                        display: flex;
                        width: 50%;
                        gap: 10px;
                        label{
                            background-color: var(--background);
                            border: 2px solid var(--border);
                            margin-bottom: -24px;
                            height: fit-content;
                            width: fit-content;
                            margin-left: 16px;
                            padding: 0 8px;
                            z-index: 2;
                        }
                        input{
                            background-color: var(--background);
                            border: 2px solid var(--border);
                            color: var(--primary);
                            border-radius: 8px;
                            padding: 8px 16px;
                            max-width: 100dvw;
                            line-height: 1.6;
                            text-align: left;
                            font-size: 12pt;
                            outline: none;
                            width: 100%;
                            margin: 0;
                            &:focus{
                                border: 2px solid var(--active);
                            }
                        }
                    }
                }
                textarea{
                    background-color: var(--background);
                    border: 2px solid var(--border);
                    color: var(--primary);
                    border-radius: 8px;
                    padding: 8px 16px;
                    max-width: 100dvw;
                    line-height: 1.6;
                    text-align: left;
                    font-size: 12pt;
                    outline: none;
                    resize: none;
                    width: 50%;
                    margin: 0;
                    &:focus{
                        border: 2px solid var(--active);
                    }
                }
            }
        }
        form{
            background-color: var(--foreground);
            border-radius: 8px;
            padding: 36px 36px;
        }
    }
}
footer{
    background-color: #796836;
    padding: 72px 48px;
    max-width: 100dvw;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    gap: 32px;
    p{
        text-align: justify;
        margin-top: -10pt;
    }
    >span{
        width: calc(25% - 48px);
        flex-direction: column;
        min-width: 290px;
        display: flex;
        gap: 8px;
        h4{
            position: relative;
            font-size: 18pt;
            &:after{
                background-color: var(--active);
                position: absolute;
                display: block;
                bottom: -10px;
                content: '';
                height: 2px;
                width: 100%;
            }
        }
        .logo{
            justify-content: start;
            align-items: center;
            display: flex;
            gap: 8px;
            img{
                width: fit-content;
                height: 36px;
                padding: 0;
            }
            *{
                color: var(--active);
                line-height: 20px;
                font-weight: 500;
                margin: 0;
            }
        }
        small{
            color: var(--active);
            margin-top: -4px;
            font-size: 8pt;
        }
        .cta{
            border: 2px solid var(--active);
            justify-content: center;
            color: var(--active);
            flex-direction: row;
            margin-bottom: 16px;
            align-items: center;
            width: fit-content;
            border-radius: 8px;
            padding: 8px 16px;
            font-weight: 600;
            font-size: 12pt;
            display: flex;
            width: 100%;
            gap: 8px;
            &:hover{
                background-color: var(--active);
                color: var(--foreground);
                icon{
                    color: var(--foreground);
                }
            }
        }
    }
}
@media (max-width: 430px) {
    nav{
        max-width: calc(100% - 32px);
        width: fit-content;
        bottom: 16px;
        a{
            padding: 2px 8px;
            font-size: 16px;
            icon{
                font-size: 22px;
            }
            &.cta{
                padding: 8px 8px;
                font-size: 14px;
                icon{
                    font-size: 14px;
                }
            }
        }
    }
    main{
        
    .chatbox{
        bottom: 90px;
        right: 16px;
    }
        #home{
            .hero{
                .sphere{
                    width: 150%;
                    top: -35%;
                }
                .world{
                    height: 30dvh;
                    bottom: -5dvh;
                }
                .text{
                    align-self: center;
                    padding: 0 16px;
                    height: 100dvh;
                    width: calc(100% - 32px);
                    h1{
                        font-size: 28pt;
                        line-height: 1;
                        >span{
                            letter-spacing: -0.5px;
                            color: var(--active);
                            font-size: 28pt;
                            line-height: 1;
                        }
                    }
                    *{
                        font-size: 10pt;
                    }
                    .cta{
                        flex-direction: column;
                        a{
                            height: 48px;
                            width: 100%;
                            icon{
                                height: fit-content;
                                width: fit-content;
                                font-size: 18pt;
                            }
                            &:hover{
                                background-color: var(--active);
                                color: var(--foreground);
                                icon{
                                    color: var(--foreground);
                                }
                            }
                        }
                    }
                }
            }
        }
        #about{
            flex-direction: column;
            display: flex;
            gap: 72px;
            h2{
                text-align: center;
                align-self: center;
                
            }
            .intro{
                flex-direction: column-reverse;
                
                .text{
                    >span{
                        flex-direction: column;
                        justify-content: center;
                        *{
                            text-align: justify;
                        }
                    }
                }
                .img{
                    border-radius: 8px;
                    aspect-ratio: 16/9;
                    height: auto;
                    width: 100%;
                }

            }
            .xp{
                flex-direction: column;
                align-items: center;
                height: fit-content;
                margin-top: 4px;
                flex-wrap: wrap;
                display: flex;
                width: 100%;
                gap: 16px;
                >h3{
                    font-weight: 500;
                    font-size: 24pt;
                    line-height: 1;
                }
                p{
                    color: var(--primary);
                    text-align: center;
                    max-width: 720px;
                    font-size: 14pt;
                }
                ul{
                    width: calc(100% - 32px);
                    justify-content: center;
                    margin: 16px 0 48px 0;
                    list-style: none;
                    flex-wrap: wrap;
                    display: flex;
                    gap: 16px;
                    
                    .item{
                        box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
                        -webkit-backdrop-filter: blur(16px) saturate(180%);
                        border: 1px solid rgba(102, 189, 141, 0.18);
                        backdrop-filter: blur(16px) saturate(180%);
                        background: rgba(56, 92, 70, 0.25);
                        width: calc(32% - 32px);
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        border-radius: 8px;
                        min-width: 280px;
                        padding: 16px;
                        display: flex;

                        h4{
                            flex-direction: row;
                            align-items: center;
                            font-weight: 600;
                            font-size: 22px;
                            line-height: 1;
                            display: flex;
                            width: 100%;
                            gap: 16px;
                            icon{
                                color: var(--active);
                                line-height: 1;
                                font-size: 28px;
                            }
                        }
                        
                        p{
                            color: var(--primary);
                            text-align: start;
                            margin-top: 8px;
                            font-size: 12pt;
                        }
                    }
                }
                .values{
                    .item{

                        h4{
                            flex-direction: column;
                            align-items: center;
                            font-weight: 600;
                            font-size: 28px;
                            line-height: 0.5;
                            display: flex;
                            width: 100%;
                            gap: 16px;
                            *{
                                margin: 0;
                            }
                            p{
                                font-weight: 400;
                                font-size: 12px;
                                margin-top: 0;
                            }
                            icon{
                                color: var(--active);
                                line-height: 1;
                                font-size: 28pt;
                            }
                        }
                        
                        p{
                            color: var(--primary);
                            text-align: center;
                            margin-top: 8px;
                            font-size: 12pt;
                        }
                    }
                }
            }
        }
        
        #contact{
            padding: 72px 48px;
            *{
                justify-self: center;
                text-align: center;
            }
            .cform{
                flex-direction: column-reverse;
                justify-content: center;
                text-align: center;
                gap: 32px;
                .details{
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 48pt;
                    align-items: center;
                    height: fit-content;
                    text-align: center;
                    display: flex;
                    width: 100%;
                    gap: 16px;
                    
                    .socials{
                        justify-content: center;
                    }
                    h4{
                        font-weight: 500;
                        font-size: 20pt;
                    }
                    a{
                        align-items: center;
                        display: flex;
                        gap: 8px;
                        icon{
                            background-color: var(--border);
                            color: var(--active);
                            border-radius: 50px;
                            padding: 10px 16px;
                            font-size: 18px;
                        }
                    }
                }
                form{
                    flex-direction: column;
                    height: fit-content;
                    display: flex;
                    width: 100%;
                    gap: 16px;
                    .div{
                        flex-direction: column;
                        display: flex;
                        width: 100%;
                        gap: 10px;
                        .info{
                            width: 100%;
                            label{
                                background-color: var(--background);
                                margin-bottom: -24px;
                                height: fit-content;
                                width: fit-content;
                                margin-left: 16px;
                                padding: 0 8px;
                                z-index: 2;
                            }
                            input{
                                background-color: var(--background);
                                border: 2px solid var(--border);
                                color: var(--primary);
                                border-radius: 8px;
                                padding: 8px 16px;
                                max-width: 100dvw;
                                line-height: 1.6;
                                text-align: left;
                                font-size: 12pt;
                                outline: none;
                                width: 100%;
                                margin: 0;
                                &:focus{
                                    border: 2px solid var(--active);
                                }
                            }
                        }
                        textarea{
                            width: 100%;
                            
                            &:focus{
                                border: 2px solid var(--active);
                            }
                        }
                    }
                }
            }
        }
    }
}
@property --progress {
    syntax: "<number>";
    initial-value: 0;
    inherits: true;
}

@property --angle {
    initial-value: 0deg;
    syntax: "<angle>";
    inherits: true;
}

@property --circle-diameter {
    syntax: "<length>";
    initial-value: 0;
    inherits: true;
}

@keyframes progress {
    from {
    --angle: 360deg;
    --progress: 0;
    }
    to {
    --angle: 0deg;
    --progress: 1;
    }
}
/* Pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: .8;
  }
  50% {
    transform: scale(1.2); /* grows */
    opacity: 0.6;          /* optional subtle fade */
  }
  100% {
    transform: scale(1);
    opacity: .8;
  }
}
