.logo{
    height: 28px;
}
header{
    box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(102, 189, 141, 0.18);
    backdrop-filter: blur(16px) saturate(180%);
    background: rgba(56, 92, 70, 0.25);
    justify-content: space-between;
    width: calc(100% - 32px);
    border-radius: 50px;
    align-items: center;
    padding: 12px 36px;
    position: fixed;
    display: flex;
    z-index: 10;
    left: 16px;
    top: 16px;
    
    .time{
        align-items: center;
        flex-direction: row;
        display: flex;
        gap: 8px;
        *{
            line-height: 0;
        }
    }
    time{
        color: var(--primary);
        font-size: 18pt;
    }
    .date{
        flex-direction: column;
        display: flex;
        >*{
            font-size: 6pt;
            margin-bottom: 8pt;
            &:nth-child(2){
                margin-bottom: 0;
            }
        }
        .meridian{
            text-transform: uppercase;
        }
    }
}
nav {
    box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(102, 189, 141, 0.18);
    backdrop-filter: blur(16px) saturate(180%);
    background: rgba(56, 92, 70, 0.25);
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 8px;
    align-self: center;
    width: fit-content;
    padding: 8px 8px;
    position: fixed;
    display: flex;
    bottom: 16px;
    z-index: 10;
    gap: 8px;
    a {
        color: var(--primary, #E0E0E0);
        text-decoration: none;
        border-radius: 4px;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 16px;
        &.cta{
            border: 2px solid var(--accent);
            justify-content: center;
            align-items: center;
            padding: 10px 12px;
            font-weight: 600;
            display: flex;
        }
        icon{
            color: var(--accent);
            font-size: 22px;
        }
        
        &.active, &:hover {
            background-color: var(--active);
            color: var(--foreground);
            
            icon{
                color: var(--foreground);
            }
        }
    }
}
main{
    scroll-snap-type: y mandatory;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100dvh;
    display: flex;
    width: 100%;
    >section{
        scroll-snap-align: start;
        min-height: 100dvh;
        padding: 72px 16px;
        width: 100%;
    }
    .hero{
        justify-content: center;
        height: 100dvh;
        display: flex;
        width: 100%;
        .text{
            flex-direction: column;
            justify-content: center;
            align-self: center;
            padding: 0 16px;
            height: 100dvh;
            display: flex;
            width: 80%;
            *{
                text-align: center;
                width: 100%;
            }
            h1{
                font-weight: 700;
                line-height: 1;
                >span{
                    letter-spacing: -0.5px;
                    color: var(--active);
                    line-height: 1;
                    font-size: 42pt;
                }
            }
            p{
                color: var(--primary);
                margin-top: 16px;
                font-size: 14pt;
            }
            .cta{
                background-color: var(--accent);
                color: var(--foreground);
                justify-content: center;
                border-radius: 4px;
                margin-top: 24px;
                cursor: pointer;
                display: flex;
                gap: 8px;
                a{
                    border: 2px solid var(--active);
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;
                    width: fit-content;
                    border-radius: 8px;
                    padding: 2px 16px;
                    font-weight: 600;
                    font-size: 12pt;
                    display: flex;
                    icon{
                        height: fit-content;
                        width: fit-content;
                        font-size: 18pt;
                    }
                    &:hover{
                        background-color: var(--active);
                        color: var(--foreground);
                        icon{
                            color: var(--foreground);
                        }
                    }
                }
            }
        }
    }
    #about{
        flex-direction: column;
        display: flex;
        h2{
            color: var(--active);
            align-self: center;
            font-weight: 700;
            font-size: 32pt;
        }
        .xp{
            flex-direction: column;
            align-items: center;
            height: fit-content;
            margin-top: 4px;
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            gap: 16px;
            >h3{
                font-size: 24pt;
                line-height: 1;
            }
            p{
                color: var(--primary);
                text-align: center;
                max-width: 720px;
                font-size: 14pt;
            }
            ul{
                width: calc(100% - 32px);
                justify-content: center;
                list-style: none;
                flex-wrap: wrap;
                display: flex;
                margin: 0;
                gap: 16px;
                
                .item{
                    box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.11);
                    -webkit-backdrop-filter: blur(16px) saturate(180%);
                    border: 1px solid rgba(102, 189, 141, 0.18);
                    backdrop-filter: blur(16px) saturate(180%);
                    background: rgba(56, 92, 70, 0.25);
                    width: calc(33% - 32px);
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    border-radius: 8px;
                    min-width: 280px;
                    padding: 16px;
                    display: flex;
                    img{
                        object-fit: cover;
                        border-radius: 8px;
                        height: 64px;
                        width: 64px;
                    }
                    h3{
                        font-weight: 600;
                        margin-top: 16px;
                        font-size: 18pt;
                    }
                    p{
                        color: var(--primary);
                        margin-top: 8px;
                        font-size: 12pt;
                    }
                }
            }
        }
    }

}
@media (max-width: 430px) {
    nav{
        width: calc(100% - 32px);
        bottom: 16px;
        a{
            padding: 2px 8px;
            font-size: 16px;
            icon{
                font-size: 22px;
            }
            &.cta{
                padding: 8px 8px;
                font-size: 14px;
                icon{
                    font-size: 14px;
                }
            }
        }
    }
    main{
        .hero{
            .text{
                align-self: center;
                padding: 0 16px;
                height: 100dvh;
                width: calc(100% - 32px);
                h1{
                    font-size: 28pt;
                    line-height: 1;
                    >span{
                        letter-spacing: -0.5px;
                        color: var(--active);
                        font-size: 28pt;
                        line-height: 1;
                    }
                }
                *{
                    font-size: 10pt;
                }
                .cta{
                    flex-direction: column;
                    a{
                        height: 48px;
                        width: 100%;
                        icon{
                            height: fit-content;
                            width: fit-content;
                            font-size: 18pt;
                        }
                        &:hover{
                            background-color: var(--active);
                            color: var(--foreground);
                            icon{
                                color: var(--foreground);
                            }
                        }
                    }
                }
            }
        }
    }
}